.event-card {
    
    width: 600px; 
    height: 350px; 
    padding: 10px; 
    overflow: hidden;  
    flex-direction: column;
    justify-content: center;
  }
  
  .card-text {
    font-size: 1rem; 
    margin: 0; 
  }
  