.modal-content {
    text-align: center;
    padding: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .confirm-button,
  .cancel-button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  
  .confirm-button {
    background-color: #4caf50;
    color: white;
  }
  
  .cancel-button {
    background-color: #f44336;
    color: white;
  }