<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white">

    <div class="container-fluid">

      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <a class="navbar-brand mt-2 mt-lg-0" href="#" routerLink="/">
          Event Manager
        </a>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/" style="color: black;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" routerLink="/Search" style="color: black;">Search</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link" href="#" routerLink="/NewEvent" style="color: black;">New Event</a>
          </li>
        </ul>

      </div>


      <div class="d-flex align-items-center">
        <div *ngIf="!isLoggedIn;else Logged">
          <a class="" href="#" routerLink="/Login" style="text-decoration: none;color: black;">
            Login
          </a>
        </div>
          <ng-template #Logged>
            <span style="margin-right: 25px;text-decoration: underline;">Hi, {{User.firstname}} </span>
            <a class="" href="#" [routerLink]="['/profile',User.id]" style="text-decoration: none;color:black;margin-right: 5px;">
              Profile
            </a>
            <button style="background-color: white;border: none" (click)="logout()">Logout</button>
          </ng-template>
      </div>
    </div>
  </nav>
  <hr>
