
<app-navbar>
  
</app-navbar>

  <section class="py-5">
    <div class="container">
      <div class="row gx-5">
        <aside class="col-lg-6">
          <div class="border rounded-4 mb-3 d-flex justify-content-center">           
              <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit" src="{{Event.event_img}}" />
          </div>
        </aside>
        <main class="col-lg-6">
          <div class="ps-lg-3">
            <h4 class="title text-dark">
              {{Event.title}}
            </h4>
            <hr>
            <div class="mb-3">
                <span class="h5">{{Event.normal_price}}</span>
                <span class="text-muted">/Normal ticket</span>
              </div>
              <div class="mb-3">
                <span class="h5">{{Event.reduced_price}}</span>
                <span class="text-muted">/Reduced ticket*</span>
              </div>
              <p>*Reduced - {{Event.reduce_ticket_info}} </p>
                <hr>
            <div class="row">
              <dt class="col-3">Day:</dt>
              <dd class="col-9">{{Event.start_time.split("T")[0]}}</dd>
  
              <dt class="col-3">Start time:</dt>
              <dd class="col-9">{{Event.start_time.split("T")[1].replace('Z',"")}}</dd>
  
              <dt class="col-3">End time:</dt>
              <dd class="col-9">{{Event.end_time.split("T")[1].replace('Z',"")}}</dd>
  
              <dt class="col-3">City:</dt>
              <dd class="col-9">{{Event.city}}</dd>

              <dt class="col-3">Place:</dt>
              <dd class="col-9">{{Event.location}}</dd>
            </div>
  
            <hr />
  
            <div class="row mb-4">
              <div class="col-md-4 col-6">
                <label class="mb-2">Participants:</label>
                <h2>{{SumParticipants}}</h2>
              </div>
              <!-- col.// -->
              <div class="col-md-4 col-6 mb-3">
                <label class="mb-2 d-block">Max participants:</label>
                <div class="input-group mb-3" style="width: 170px;">
                  <h2>{{Event.max_participants}}</h2>
                </div>
              </div>
            </div>
            <div *ngIf="isLoggedIn;else notLoggedin">
              <button *ngIf="isMatch(Event.id,Participations)" class="btn btn-primary shadow-0" style="margin-right: 15px;width: 200px; background-color: rgb(177, 228, 100);color: black;border: 1px solid rgb(177, 228, 100);" (click)="Participate(Event.id)"> Joined ✓</button>
              <button *ngIf="!isMatch(Event.id,Participations)" class="btn btn-primary shadow-0" style="margin-right: 15px;width: 200px;" (click)="Participate(Event.id)"> Join </button>
              <button   *ngIf="isMatch(Event.id,Saved)" class="btn btn-warning shadow-0" style="margin-right: 15px;width: 200px; background-color: #c35b41;border: 1px solid #c35b41;" (click)="Save(Event.id)">Saved  <i class="fa-regular fa-bookmark" style="color: #000000"></i></button>
              <button   *ngIf="!isMatch(Event.id,Saved)" class="btn btn-warning shadow-0" style="margin-right: 15px;width: 200px; " (click)="Save(Event.id)">Save</button>
          </div>

          <ng-template #notLoggedin>
            <button  class="btn btn-primary shadow-0" style="margin-right: 15px;width: 200px;" disabled> Join </button>
            <button  class="btn btn-warning shadow-0" style="margin-right: 15px;width: 200px;" disabled>Save</button>
          </ng-template>
            
          </div>
        </main>
      </div>
    </div>
  </section>

  
  <section class="bg-light border-top py-4">
    <div class="container">
      <div class="row gx-4">
        <div class="col-lg-8 mb-4">
          <div class="border rounded-2 px-3 py-2 bg-white">
            <p>
                {{Event.description}}
              </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  
  